body
{
	background: url('a1.jpg') no-repeat;
      background-position:center;
         background-size:cover ;
         min-height: 100vh;
         width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       min-height: 100vh;

}
.chandan
{
	color: whitesmoke;
    font-size: 1.4em;
    user-select: none;
    font-family: verdana;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 99%;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index:99;
	border-color: green;

}
.navigation a
{
	position:relative;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: 200;
	margin-left: 8px;
	color:whitesmoke;
	font-family:verdana;

}
 .navigation a::after
        {
        	content: '';
        	position: absolute;  
        	left: 0;
        	bottom: -6px;
        	width: 100%;
        	height: 3px;
        	background:rgb(0, 0, 255); 
        	border-radius:5px;
        	transform-origin:right;
            transform: scaleX(0);
        	transition: transform.5s;
        	
        }

.navigation a:hover::after
{
transform: scaleX(1);
transform-origin:left;
}

.navigation .btnLogin-popup{

	 width: 100px;
	 height: 30px;
	 background: transparent;
	 border: 2px solid whitesmoke;
	 border-radius: 6px;
	 cursor: pointer;
	 font-size: 1.1em;
	 color:whitesmoke;
	 font-weight: 200px;
	 margin-left: 20px;
	 transition: .5s;

}
    .navigation .btnLogin-popup:hover
        {
  
         background: whitesmoke;
            color: green;
        }

       .container
       { 
       	position: relative;
       	width:400px;
       	height: 440px;
       	background:transparent;
       	border:2px solid rgba(255,255, 255,.5) ;
        border-radius:20px;
       	backdrop-filter: blur(80px);
       	box-shadow: 0 0 30px rgba(0, 0, 0, 1.1);
       	display: flex;
       	justify-content: center;
       	align-items: center;
       

       
       
       } 
       .container .form-box 
       {
          width: 80%;
          padding: 20px;
       }
      .container .icon-close
       {
       	position: absolute;
       	top: 0;
       	right: 0;
       	width: 45px;
       	height: 45px;
       	background: #162938;
       	font-size: 2em;
       	color: whitesmoke;
       	display: flex;
       	justify-content: center;
       	align-items: center;
       	border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
       	cursor:pointer;
       	z-index: 1;

       }
        .form-box h2
        {
        	font-size: 2em;
        	color: #162938;
        	text-align: center;
        	font-family: verdana;

        }
      .input-box
      {
      	position: relative;
      	width: 100%;
      	height: 22px;
      	border-bottom: 2px solid #162938 ;
      	margin: 30px;

      }
       .input-box label
       {
       	position: absolute;
       	top:6%;
       	left:4px;
       	transform: translateY(-10%);
       	font-size: 1em;
       	color: #162938;
       	font-weight: 500;
       	pointer-events: none;
       	transition:.4s ;

       }
        .input-box input:focus~label
       
          {
           top:-25px;

          }

       .input-box input
       {
       	width: 60%;
       	height: 3vh;
       	background: transparent;
       	border: none;
       	outline: none ;
       	font-size: 1em;
       	color: whitesmoke;
       	font-weight: 500;
       	padding: 0 35px 0 5px;
       	left: 20px;
       }
       .input-box ion-icon
       {
       	position: absolute;
       	right:4px;
       	font-size: 1.2em;
       	color: black;
       	line-height: 57px;
       } 
     .remember-forgot
     {
     	font-size: 1em;
     	color:#162938;
     	font-weight: 200;
     	margin: -15px 0 15px;
     	padding: 25px;
     	display: flex;
     	justify-content: space-between;

     }

     .remember-forgot label input
     {
     	accent-color: #162938;
     	margin-right: 3px;
     	font-family: verdana;

     }
     .remember-forgot a
     { 
     	color: #162938;
     	text-decoration:none;
     	
     }
     .remember-forgot a:hover
     {
        color: whitesmoke;
     	text-decoration: underline;
     	
     }
      .btn
      {
      	width: 100%;
      	height: 25px;
      	background: #162938;
      	border: none;
      	outline: none;
      	border-radius: 6px;
      	cursor: pointer;
      	font-size: 1em;
      	color: whitesmoke;
      	font-weight: 500;


      }
      .login-register
      {
      	font-size: 1em;
      	color: #162938;
      	text-align: center;
      	font-weight: 500px;
      	margin: 25px 0 10px;

      }
       .login-register p a
      {
    
      	color: #162938;
      	text-decoration: none;
      	font-weight: 600;

      }
       .login-register p a:hover
      {
    
      	text-decoration: underline;
      	color:whitesmoke;
      }


.container.active-popup
{
	transform: scale(1);
}

.container.form-box.login
{
	transition:transform.18s ease;
	transform: translatex(0);
}

.container.active.form-box.login
{
	transition: none;
	transform: translatex(-400px);
}



